{% extends 'base.html' %}

{% block content %}
    <h1>Личная информация пользователя {{ user_obj.get_full_name|default:user.username }}</h1>
    <div style="display: flex;">
        <img style="width:30%" src="{{ user_obj.profile.image.url }}" alt="">
        <div style="margin-left: 15px;">
            <p> <b>Логин:</b> {{ user_obj.username|default:'Информация отсутствует' }}</p>
            <p> <b>Имя:</b> {{ user_obj.first_name|default:'Информация отсутствует' }}</p>
            <p> <b>Фамилия:</b> {{ user_obj.last_name|default:'Информация отсутствует' }}</p>
            <p> <b>Email:</b> {{ user_obj.email|default:'Информация отсутствует' }}</p>
            <p> <b>О себе:</b> {{ user_obj.profile.about_user|default:'Информация отсутствует' }}</p>
            <div>
                {% if request.user.id == user_obj.id %}
                    <a href="{% url 'update_profile' %}" class="btn btn-primary">Редактировать</a>
                    <a href="{% url 'change_password' %}" class="btn btn-danger">Изменить пароль</a>
                {% endif %}
            </div>
        </div>
    </div>
    <h2 style="margin-top: 20px">Избранные фотографии</h2>
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
    {% include 'partial/photo/favorites_list_form.html' %}
{% endblock %}