{% extends 'accounts_base.html' %}

{% block content %}
<form class="form-for-regist" action="{% url 'login' %}{% if next %}?next={{ next }}{% endif %}" method="post">
    {% csrf_token %}
    {% if has_error %}
        <p class="wrong-log-or-pass">Неверное имя пользователя или пароль</p>
    {% endif %}
    <p>Authorization!</p>
    <input placeholder="Login" id="username" name="username" type="text">
    <input placeholder="Password" id="password" name="password"  type="password">
    <input id="join" value="join" type="submit">
</form>
{% endblock %}