{% block content%}
<div class="favor-list">
    {% for favorit in favorites %}
    <div class="card cards" style="width: 35rem; margin: 10px;">
          <img src="{{ favorit.photo.image.url }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Автор: {{ favorit.photo.author }}</h5>
          <h6 class="card-subtitle mb-2 text-muted"><b>Дата создания:</b> {{ favorit.photo.created_at|date:'d.m.Y G:i' }}</h6>
          <p class="card-text"><b>Подпись:</b> {{ favorit.photo.caption }}</p>
        </div>
      </div>
  {% endfor %}
</div>
{% endblock %}