{% csrf_token %}
<div class="add-photo">
    <label for="caption">Добавьте описание:</label>
    <input class="form-control" type="text" id="caption" name="caption" value="{{ form.caption.value|default:'' }}">
    <div>
    <label for="photo">Загрузите фотографию</label>
        <div>
            {% if form.image.value %}
                <img style="width: 300px; height: 300px;" src="{{ form.image.value.url }}">
            {% endif %}
            <input type="file" name="image" id="photo" value="">
        </div>
    </div>
    <input type="submit" class="btn btn-primary" value="{{ button_text }}">
</div>
