{% extends 'base.html' %}

{% block content%}
  <div class="photos-list">
    {% for photo in photos %}
      <div class="card cards" style="width: 35rem; margin: 10px;">
          <img src="{{ photo.image.url }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Автор: <a style="text-decoration: none; color: black;" href="{% url 'profile' photo.author.pk %}">{{ photo.author }}</a></h5>
          <h6 class="card-subtitle mb-2 text-muted"><b>Дата создания:</b> {{ photo.created_at|date:'d.m.Y G:i' }}</h6>
          <p class="card-text"><b>Подпись:</b> {{ photo.caption }}</p>
          <a href="{% url 'photo_detail' photo.pk %}" class="btn btn-primary">Подробнее</a>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="paginate-block">
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
  </div>
{% endblock %}