{% extends 'base.html' %}

{% block content%}
<div class="card mb-3 detail-card" style="margin: 10px;">
      <img src="{{ photo.image.url }}" class="card-img-top" alt="...">
  <div class="card-body">
    <input type="hidden" id="photo" value="{{ photo.id }}">
    <h5 class="card-title">Автор: <a style="text-decoration: none; color: black;" href="{% url 'profile' photo.author.pk %}">{{ photo.author }}</a></h5>
    <p class="card-text"><b>Подпись:</b> {{ photo.caption }}</p>
    <p class="card-text"><small class="text-muted"><b>Дата создания:</b> {{ photo.created_at|date:'d.m.Y G:i' }}</small></p>
    {% if request.user == photo.author or perms.gallery_app.change_photo %}
        <a class="btn btn-success" href="{% url 'photo_update' photo.pk %}">Изменить</a>
    {% endif %}
    {% if request.user == photo.author or  perms.gallery_app.delete_photo %}
        <a data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-danger" >Удалить</a>
    {% endif %}
    {% if request.user.is_authenticated %}
      {% if photo.get_favorites.all %}
        <button id="favorite" type="submit" class="btn btn-danger">Удалить из избранного</button>
      {% else %}
        <button id="favorite" type="submit"  class="btn btn-warning">Добавить в избранное</button>
      {% endif %}
    {% endif %}
  </div>
</div> 
{% if photo.get_favorites.all %}
  <p>Список пользователей:</p>
  <ul class="list-group">
    {% for user_id in photo.get_favorites.all %}
      {% for user in users %}
        {% if user.id == user_id %}
            <li class="list-group-item"><a style="text-decoration: none; color: black;" href="{% url 'profile' user.pk %}">{{ user.username }}</a></li>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </ul>
{% endif %}

{% include 'common/delete_photo_view.html' with deleted_object=photo %}
{% endblock %}
