.navbar>.container-fluid{
    justify-content: space-around;
}
.navbar-collapse{
    flex-grow: 0;
}

.paginate-block{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.photos-list{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.cards>.card-img-top{
    width: 556px;
    height: 370px;
}
.detail-card>.card-img-top{
    width: 50%;
}
.add-photo{
    margin-top: 30px;
}
.change-profile{
    margin-top: 30px;
    display: flex;
}
.change-image-profile{
    width: 50%;
}
.change-info-profile{
    width: 50%;
}
.form-group{
    display: flex;
    align-items: center;
    margin-top: 15px;
}
.form-group>label{
    margin-right: 10px;
}
.change-info-profile>.form-group-1{
    margin-top: 15px;
}
.favor-list{
    display: flex;
    flex-wrap: wrap;
}
.favor-list>.card{
    margin: 10px;
}
.list-group-item>a{
    text-decoration: none;
    color: black;
}