<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="navbar-nav">
      <a class="navbar-brand" href="{% url 'photos_list' %}">Фотографии</a>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        {% if request.user.is_authenticated %}
          <a class="nav-link active" aria-current="page" href="{% url 'add_photo' %}">Добавить фото</a>
        {% endif %}
      </div>
      <div class="navbar-nav">
        {% if not request.user.is_authenticated %}
          <a class="nav-link active" aria-current="page" href="{% url 'login' %}">Войти</a>
        {% else %}
          <a class="nav-link active" aria-current="page" href="{% url 'profile' request.user.pk %}">Привет, {{ user.username }}</a>
          <a class="nav-link active" aria-current="page" href="{% url 'logout' %}">Выйти</a>
        {% endif %}
      </div>
    </div>
  </div>
</nav>